form {
    width: 100%;
    max-width: 100ch;
    box-sizing: border-box;
}

.bloque {
    display: grid;
    grid-template-columns: 18ch 1fr;
    align-items: center;
    row-gap: 5px;
    margin-top: 1em;
    margin-bottom: 1.25em;
}

input[type='number'] {
    max-width: 60px;
    padding: 10px;
    margin-inline: 0.25em;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    border-radius: 4px;
    font-size: 0.875rem;
    font-family: system-ui;
    text-align: center;
    transition: border-color 100ms;
}

input[type='number']:focus {
    outline: none;
    border-bottom: 2px solid var(--accent-color);
}

input[type='number']:disabled {
    background-color: transparent;
}

details {
    margin-bottom: 20px;
}

.contenedor-grafica {
    max-width: 90ch;
    width: 90vw;
    min-height: 200px;
    max-height: 45ch;
    height: 45vw;
    margin-bottom: 20px;
}