#navegacion-local {
    width: 100%;
    max-width: 100ch;
    padding-inline: 20px;
    box-sizing: border-box;
}

article {
    padding-inline: 0.25em;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

h2:first-of-type {
    margin-bottom: 5px;
}

h3 {
    margin-top: 1.75em;
    margin-bottom: 0.5em;
}

h2+article h3 {
    margin-top: 1em;
}

article>p {
    margin-top: 0.75em;
}

.pista {
    margin-top: 40px;
    text-align: center;
    font-style: italic;
}

#aleatorio {
    display: flex;
    margin-inline: auto;
}

/********************
Botón
********************/

button:disabled {
    cursor: default;
}

/********************
Botón con acento
********************/

button.acento {
    background-color: var(--accent-color);
    color: var(--on-accent);
    border-color: transparent;
}

button.acento:hover {
    background-color: var(--accent-color-hover);
}

button.acento:active {
    background-color: var(--accent-color-active);
}

/********************
Botón con contorno
********************/

button.contorno {
    border-radius: 100px;
}

button.contorno.seleccionado {
    color: var(--accent-color);
    border-color: var(--accent-color);
    border-width: 2px;
    cursor: initial;
}

button.contorno.seleccionado:hover,
button.contorno.seleccionado:active {
    background-color: inherit;
}

/********************
Pestañas
********************/

.contenedor-grupos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grupo {
    position: relative;
    min-width: fit-content;
    padding: 8px 10px;
    background-color: transparent;
    border: none;
}

.grupo::after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 3px;
    background-color: var(--button-border-color);
    border-radius: 100px;
    opacity: 0;
    transition: opacity 300ms;
}

.grupo:hover::after {
    opacity: 1;
}

.grupo.seleccionado::after {
    background-color: var(--accent-color);
    opacity: 1;
}

.contenido-grupo {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 12px 10px;
}

.contenido-grupo.visible {
    display: flex;
}

/********************
Imágenes
********************/

main img {
    display: block;
    max-width: min(100%, 40ch);
    margin: 1.5em auto;
}

/********************
Acordeón
********************/

details {
    --parent-color: var(--container-color-alt);
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: var(--container-color-alt);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    font-size: 0.875rem;
}

summary {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--container-color);
    border-radius: 7px;
    list-style: none;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: url(/img/icono-acordeon.svg);
    display: flex;
    margin-left: auto;
    padding: 5px 10px;
    aspect-ratio: 1;
    border-radius: 4px;
    rotate: 180deg;
    transition: background-color 200ms;
}

summary:hover::after {
    background-color: hsla(0, 0%, 50%, 0.1);
}

summary:active::after {
    background-color: hsla(0, 0%, 50%, 0.2);
}

details[open] summary {
    border-bottom: 1px solid var(--border-color);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

details[open] summary::after {
    rotate: 0deg;
}

details div {
    margin-inline: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

details ol {
    padding-left: 1em;
}

details div>ol>li {
    margin-top: 1em;
}

/********************
Tablas
********************/

.tabla {
    max-width: 100%;
    margin-block: 1.5em;
    text-align: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.tabla mjx-container {
    background: none;
}

table {
    margin-inline: auto;
    border-collapse: collapse;
}

th,
td {
    min-width: max-content;
    padding-inline: 8px;
}

tr.subrayado>th {
    border-bottom: 1px solid var(--on-button);
}

/********************
Progreso
********************/

button.cargando::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(var(--progreso, 0) * 1%);
    height: 2px;
    background-color: var(--accent-color);
    border-radius: 10px;
}

/********************
Sombras de desplazamiento
********************/

.tabla {
    --shadow-color: hsla(0, 0%, 50%, 0.4);
    --shadow-margin: 40px;
    --shadow-width: 10px;

    background-image:
        linear-gradient(to right, var(--parent-color, var(--background-color)) 30%, transparent),
        linear-gradient(to left, var(--parent-color, var(--background-color)) 70%, transparent),
        radial-gradient(farthest-side at 0, var(--shadow-color), transparent),
        radial-gradient(farthest-side at 100%, var(--shadow-color), transparent);
    background-position-x: left, right, left, right;
    background-size: var(--shadow-margin) 100%, var(--shadow-margin) 100%, var(--shadow-width) 100%, var(--shadow-width) 100%;
    background-attachment: local, local, scroll, scroll;
    background-repeat: no-repeat;
}

/********************
Adaptabilidad
********************/

@media (prefers-color-scheme: dark) {
    summary::after {
        filter: invert(1);
    }

    main img {
        filter: invert(1) hue-rotate(180deg);
    }
}

/********************
Impresión
********************/

@media print {
    article {
        break-inside: avoid;
    }

    body>header,
    nav,
    button,
    details,
    .categorias {
        display: none;
    }
}