h2,
h3,
h4 {
    margin-bottom: 0;
}

h2+h3,
h2+ol,
h2+ul {
    margin-top: 1.25em;
}

main>ul>li {
    margin-block: 0.25em;
}

ol li::marker {
    font-weight: bold;
}

.categorias {
    margin-top: 10px;
    margin-bottom: 20px;
}

/********************
Pestañas
********************/

.contenedor-grupos {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow-x: auto;
}

.grupo {
    position: relative;
    min-width: fit-content;
    padding: 8px 10px;
    background-color: transparent;
    border: none;
}

.grupo::after {
    content: "";
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 0;
    height: 3px;
    background-color: var(--button-border-color);
    border-radius: 100px;
    opacity: 0;
    transition: opacity 300ms;
}

.grupo:hover::after {
    opacity: 1;
}

.grupo.seleccionado::after {
    background-color: var(--accent-color);
    opacity: 1;
}

.contenido-grupo {
    display: none;
}

.contenido-grupo.visible {
    display: flex;
}