html {
    scroll-behavior: smooth;
}

details {
    margin-bottom: 20px;
}

/********************
Enlace con contorno
********************/

a.contorno {
    background-color: var(--button-background-color);
}

a.contorno:hover {
    background-color: var(--button-background-color-hover);
}

a.contorno:active {
    background-color: var(--button-background-color-active);
}

/********************
Lista
********************/

:root {
    --list-radius: 2em;
}

ol {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    list-style: none;
    counter-reset: list-item;
}

ol li {
    display: grid;
    grid-template-columns: var(--list-radius) 1fr;
    gap: 0.5em;
    align-items: start;
    margin-block: 1em;
    padding-left: 0.125em;
}

ol li::before {
    counter-increment: list-item;
    content: counter(list-item);
    background-color: var(--accent-color);
    color: var(--on-accent);
    width: var(--list-radius);
    font-size: 0.85rem;
    line-height: var(--list-radius);
    text-align: center;
    border-radius: 100%;
}

/********************
Calculadora
********************/

form {
    width: 100%;
    max-width: 100ch;
    box-sizing: border-box;
}

.bloque {
    display: grid;
    grid-template-columns: 18ch 1fr;
    align-items: center;
    row-gap: 5px;
    margin-top: 1em;
    margin-bottom: 1.25em;
}

input[type='number'] {
    max-width: 60px;
    padding: 10px;
    margin-inline: 0.25em;
    background-color: var(--container-color);
    border: 2px solid var(--border-color);
    border-radius: 4px;
    font-size: 0.875rem;
    font-family: system-ui;
    text-align: center;
    transition: border-color 100ms;
}

input[type='number']:focus {
    outline: none;
    border-bottom: 2px solid var(--accent-color);
}

input[type='number']:disabled {
    background-color: transparent;
}